name: Salesforce CI/CD with Scan + Deploy

on:
  push:
    branches:
      - dev
      - main
  workflow_dispatch:

jobs:
  scan-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Repo
        uses: actions/checkout@v4
        with:
          repository: abhishekpotdar722-ai/salesforce-demo
          token: ${{ secrets.PIPELINE_TRIGGER_TOKEN }}

      # -------------------------------
      # Install Salesforce CLI
      # -------------------------------
      - name: Install Salesforce CLI
        run: |
          npm install @salesforce/cli --global
          sf version

      # -------------------------------
      # Install Node Dependencies
      # -------------------------------
      - name: Install Node Modules
        run: npm install

      # -------------------------------
      # LWC Scan (ESLint)
      # -------------------------------
      # - name: Run LWC ESLint Scan
      #   run: npm run lint

      # -------------------------------
      # Dependency Scan
      # -------------------------------
      # - name: Run Dependency Scan
      #   run: npm audit --audit-level=high

      # -------------------------------
      # Download PMD
      # -------------------------------
      - name: Download PMD
        run: |
          # wget https://github.com/pmd/pmd/releases/latest/download/pmd-bin.zip
          # unzip pmd-bin.zip
          PMD_VERSION=7.21.0
          wget https://github.com/pmd/pmd/releases/download/pmd_releases/${PMD_VERSION}/pmd-dist-${PMD_VERSION}-bin.zip
          unzip pmd-dist-${PMD_VERSION}-bin.zip
          mv pmd-bin-${PMD_VERSION} pmd
      # -------------------------------
      # Run Apex Static Scan
      # -------------------------------
      - name: Run PMD Scan
        run: |
          ./pmd/bin/pmd check \
            -d force-app \
            -R category/apex/security.xml \
            -f text

      # -------------------------------
      # Authenticate Scratch Org
      # -------------------------------
      - name: Authenticate Dev1 Org
        run: |
          export NODE_TLS_REJECT_UNAUTHORIZED=0
          echo "${{ secrets.DEV1_SFDX_AUTH_URL }}" > auth.txt
          sf org login sfdx-url --sfdx-url-file auth.txt --alias dev1

      # -------------------------------
      # Verify Org Auth
      # -------------------------------
      - name: List Authorized Orgs
        run: |
          export NODE_TLS_REJECT_UNAUTHORIZED=0
          sf org list

      # -------------------------------
      # Convert Source
      # -------------------------------
      - name: Convert Source to Metadata
        run: |
          sf project convert source --output-dir mdapi_output

      # -------------------------------
      # Deploy
      # -------------------------------
      - name: Deploy to Dev1-SFP
        run: |
          export NODE_TLS_REJECT_UNAUTHORIZED=0
          sf project deploy start \
            --metadata-dir mdapi_output \
            --target-org dev1 \
            --wait 30
